#toptheme{
    padding:10px 30px;
    font-style: normal;
    font-size:40px;
    text-decoration: none;
    font-family:fantasy;
}
body{
    background-color: cadetblue;
    margin-bottom: 50px;
    text-indent: 30px;
}

p,#change{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-size: large;
}
#foot{
    color:darkred;
    font-size: normal;
    font-style: normal;
    margin-top: auto;
    height:70px;
    background:linear-gradient(#f690b2,#D5D533);
    
}
#contactme{
    
    background-image: url(rest.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color:black;
    font-size:xx-large;
    font-weight: bolder;
}
#form1{
    margin:auto;
}
#menu1{
    background-image: url(fast1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#cls1{
    background-color: aqua;
}
#cls2{
    background-color: #f690b2;
}
#cls3{
    background-color: #D5D533;
}
#cls5{
    background-color: darkorchid;
}